*{
	margin: auto;
	font-family: SEGOE UI;
}

@media screen and (max-width: 380px){
	body{
		width: 10%;
		color:white;
		font-weight: bold;
	}
}

body{
	width: 100%;
}

body.home{
	overflow: hidden;
	background: url(../MobiBike/MAPA.png);
}

/*Cadastro*/
input.form-control::placeholder {
	font-weight: bold;
    color: #2c3e50;
}
.form-control{
	background: rgba(255, 255, 255,0.1);
	width: 400px;
	margin: auto;
	border: none;
	border-radius: 0;
	border-bottom: solid 2px #2c3e50;
}

.form-control:focus{
	background: rgba(241, 196, 15,0.0);
	border: none;
	border-radius: 0;
	border-bottom: solid 1px #2c3e50;
}
.btn{
	color: #f1c40f;
	background-color: #2c3e50;
	border-radius: 0px;
	width: 150px;
}


.cad{
	background-color: #FFA200;
	cursor: pointer;
	color: #FFF;
	font-size: 22px;
}
.cad:hover{
	background-color: #FFB200;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
}


/*Home*/
.form-origem-destino{
	background: rgba(255,255,255,0.7);
	position: relative;
	width: 100%;
}

.icon-origem-destino{
	width: 40px;
	height: 40px;
	padding: 5px;
}

input.origem-destino{
	margin-left: 0px;
	width: 250px;
}
.icon-origem-destino-right{
	width: 40px;
	height: 40px;
	padding: 5px;
	margin-right: 60px;
	margin-top: 5px;
}

.btnIr{
	background-color: #FFA200;
	color: white;
	width: 100px;
	border: none;
	margin-left: 300px;
	margin-top: -40px;
}

.btnIr:hover{
	background-color: #FFB200;
	color: white;
	width: 100px;
	border: none;
}



/*Header Logo*/

.logo-header{
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #FFA200;
	color: white;

}

.logo{
	width: 100px;
	height: 70px;
}

i.header-icons{
	font-size: 30px;
	color: #fff;
}

/*Meu Perfil*/
.img-perfil{
	margin-top: 40px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 1px solid #FFA200;
}

.nome{
	padding-top: 10px;
	color: #636e72;
	text-align: center;
	font-size: 18px;
}

.email{
	color: #636e72;
	text-align: center;

}

.mobis{
	margin-left: 50%;
	width: 60px;
	height: 60px;
	color:#636e72;
}

.mobis-text{
	color: #636e72;
}

.trocar-mobis{
	cursor: pointer;
	color: #ffa200;
}

.conquistas{
	margin: auto;
}
.text-conquistas{
	color: #ffa200;
	font-size: 18px;
}

.text-conquistas-2{
	color: #636e72;
}

.text-conquistas-3{
	font-size: 12px;
	color: #636e72;
}

.icon-conquistas{
	width: 50px;
	height: 50px;
}

.icon-conquistas#lupa{
	width: 50px;
	height: 50px;
}

.mais-conquistas{
	cursor: pointer;
	color: #ffa200;
	font-size: 18px;
}


/*Footer Menu*/
.footer-menu{
	padding-top: 10px;
	margin-left: -15px;
	position: absolute;
	width: 100%;
	overflow: hidden;
	background-color: #FFF;
	color: #ffa200;
	bottom: 0;

}

.logo{
	width: 100px;
	height: 70px;
}

.icon-menu{
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.icon-menu-atual{
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.text-menu{
	font-size: 12px;
	color: #636e72;
}

.text-menu-atual{
	font-size: 12px;
	color: #FFA200;
}

}



